{% extends "base_template.html" %}
    {% block content %}
    {% load static %}

    <div class="container-fluid padding" style="margin-top:90px; ">
        <div class="row padding">
            <div class="col-md-12 col-lg-7">
                <h1>Virus Corona</h1>
                <p>Coronavirus (CoV) adalah keluarga besar virus yang menyebabkan penyakit mulai
                    dari gejala ringan sampai berat. Ada setidaknya dua jenis coronavirus yang diketahui
                    menyebabkan penyakit yang dapat menimbulkan gejala berat seperti Middle East Respiratory Syndrome (MERS-CoV) dan Severe Acute Respiratory Syndrome (SARS-CoV). Novel coronavirus (2019-nCoV) adalah virus jenis baru yang belum pernah diidentifikasi
                    sebelumnya pada manusia. Virus corona adalah zoonosis (ditularkan antara hewan dan
                    manusia). </p>
                
            </div>
        
            <div class="col-lg-5">
          
            <img src="../../static/home/Virus.png" alt="Ini_Gambar_Virus" width="50%" style="margin-left: 20em;">
            </div>
        </div>
        </div>
     
        
<!---Jumbotron -->
<br><br>
<div class="jumbotron jumbotron-fluid" style="margin-top: 90px; background-color: #EB5757; color: white;">
    <div class="container">
        <p class="lead" style="float: left;";><b>Ingin terus update dengan berita terbaru mengenai virus Corona</b></p>
        <a href="{% url 'landingpage:langganan_create' %}" class="btn btn-primary" style="float: right;" target="_blank">Klik untuk Berlangganan</a>
    </div>
</div>


<!---Peta -->
<div class="card">
  <div class="card-body">
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    <h1 class="card-title">Data Penyebaran Corona</h5>
    <p class="card-text">Link Network Graph : <a href="https://app.powerbi.com/view?r=eyJrIjoiMTZhNmY2OTEtMGUxNi00NWNhLThjMzQtZTI1MjQ4NmU5ZDY2IiwidCI6IjVkNWE3MWRkLTk0ZDMtNDM0OC04YzViLWY0MDhiOTUyYjBkMSIsImMiOjEwfQ%3D%3D">Ini</a></p>
    
    <div class="row">
      <div class="col-sm-4" style="background-color: #EB5757;">
      <br>
      <h2>Kasus Meninggal</h2>
      <h3>15.037</h3>
      <br>
    </div>
      
    <div class="col-sm-4" style="background-color: #FDD262;">
      <br>
      <h2>Kasus Positif</h2>
      <h3>457.735</h3>
      <br>
    </div>


    <div class="col-sm-4" style="background-color: #0ACF83;">
      <br>
      <h2>Kasus Positif</h2>
      <h3>385.094</h3>
      <br>
    </div>
    
  </div>
  </div>
  <img class="card-img-bottom" src="../../static/home/indonesia.jpg" alt="Card image cap">



</div>

<!---Berita Korona -->

<h1 style="margin-top: 40px;">Berita Corona</h1>
<br>

<div class="row">

    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <img class="card-imd-top" src="../../static/home/virus-corona_200416143238-709.jpg" width="100%"><p></p> 
          <hr>
          <h5 class="card-title">Harga masker kembali normal</h5>
          <p class="card-text">13 November 2020</p>
          <a href="#"><h5 class="card-text" style="color: #EB5757; float: right;">Lihat</h5></a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <img class="card-imd-top" src="../../static/home/virus-corona_200416143238-709.jpg" width="100%"><p></p>   
            <hr>
            <h5 class="card-title">83 Karyawan BJB Positif Corona, Kantor 'Lockdown'</h5>
            <p class="card-text">13 November 2020</p>
            <a href="#"><h5 class="card-text" style="color: #EB5757; float: right;">Lihat</h5></a>
          </div>
        </div>
      </div>

    <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <img class="card-imd-top" src="../../static/home/virus-corona_200416143238-709.jpg" width="100%"><p></p>
            <hr>   
            <h5 class="card-title">Pasien Covid-19 RI Hari Ini Tambah 4.173 Orang</h5>
            <p class="card-text">13 November 2020</p>
            <a href="#"><h5 class="card-text" style="color: #EB5757; float: right;">Lihat</h5></a>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <img class="card-imd-top" src="../../static/home/virus-corona_200416143238-709.jpg" width="100%"><p></p>  
            <hr> 
            <h5 class="card-title">103 Kasus , Lampung Catat Lonjakan Corona Tertinggi</h5>
            <p class="card-text">13 November 2020</p>
            <a href="#"><h5 class="card-text" style="color: #EB5757; float: right;">Lihat</h5></a>
          </div>
        </div>
      </div>
  </div>

  <center><a href="{% url 'landingpage:berita' %}" class="btn btn-primary" style="margin-top: 40px;">Lihat Berita Lainnya</a></center>

 <!---Jumbotron -->
<div class="jumbotron jumbotron-fluid" style="margin-top: 40px; background-color: #EB5757; color: white;">
    <div class="container">
        <p class="lead" style="float: left;";><b>Ingin terus update dengan berita terbaru mengenai virus Corona</b></p>
        <a href="{% url 'landingpage:langganan_create' %}" class="btn btn-primary" style="float: right;" target="_blank">Klik untuk Berlangganan</a>
    </div>
</div> 

  <br><br><br>


{% endblock %}