{% extends "base_template.html" %}
    {% block content %}
    {% load crispy_forms_tags %}
    {% load static %}

    <center>
    <h1>Terima kasih sudah berlangganan dengan kami</h1>
    <h2>Silakkan cek email Anda untuk konfirmasi</h2>
    <hr>
    <h1>Anda adalah orang ke - {{count}} yang berlangganan dengan kami</h1>
    </center>

    
<!---Berita Korona -->

<h1 style="margin-top: 40px;">Berita Corona</h1>
<br>

<div class="row">

    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <img class="card-imd-top" src="../../static/home/virus-corona_200416143238-709.jpg" width="100%"><p></p> 
          <hr>
          <h5 class="card-title">Harga masker kembali normal</h5>
          <p class="card-text">13 November 2020</p>
          <a href="#"><h5 class="card-text" style="color: #EB5757; float: right;">Lihat</h5></a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <img class="card-imd-top" src="../../static/home/virus-corona_200416143238-709.jpg" width="100%"><p></p>   
            <hr>
            <h5 class="card-title">83 Karyawan BJB Positif Corona, Kantor 'Lockdown'</h5>
            <p class="card-text">13 November 2020</p>
            <a href="#"><h5 class="card-text" style="color: #EB5757; float: right;">Lihat</h5></a>
          </div>
        </div>
      </div>

    <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <img class="card-imd-top" src="../../static/home/virus-corona_200416143238-709.jpg" width="100%"><p></p>
            <hr>   
            <h5 class="card-title">Pasien Covid-19 RI Hari Ini Tambah 4.173 Orang</h5>
            <p class="card-text">13 November 2020</p>
            <a href="#"><h5 class="card-text" style="color: #EB5757; float: right;">Lihat</h5></a>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <img class="card-imd-top" src="../../static/home/virus-corona_200416143238-709.jpg" width="100%"><p></p>  
            <hr> 
            <h5 class="card-title">103 Kasus , Lampung Catat Lonjakan Corona Tertinggi</h5>
            <p class="card-text">13 November 2020</p>
            <a href="#"><h5 class="card-text" style="color: #EB5757; float: right;">Lihat</h5></a>
          </div>
        </div>
      </div>
  </div>

  <center><a href="{% url 'landingpage:berita' %}" class="btn btn-primary" style="margin-top: 40px;">Lihat Berita Lainnya</a></center>


{% endblock %}