{% extends "base_template.html" %}
    {% block content %}
    {% load crispy_forms_tags %}
    {% load static %}

    <h1>Form Langganan Berita Covid</h1>


    <div class="container-fluid padding">
        <hr class="mt-0 mb-4">
        <form method="POST">
          {% csrf_token %}
          {{ form|crispy }}
          
          <br>
          <b>* Kami akan mengirimkan informasi-informasi terbaru melalui email Anda</b>
          <br><br>

          <button type="submit" class="btn btn-primary">Submit</button>
          <a type="button" class="btn btn-light" href="/"><b>Back</b></a>
        </form>
      </div>
    </div>
  </div>



{% endblock %}