{% extends "base_template.html" %}

  {% block content%}
  <script>
    function openNav() {
      document.getElementById("sidebar").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
    }
    
    function closeNav() {
      document.getElementById("sidebar").style.width = "0";
      document.getElementById("main").style.marginLeft= "0";
    }
    </script>

  <div id="sidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="{% url 'covidResearch:Home' %}">Penelitian</a>
      <a href="{% url 'covidResearch:Upload'%}">Unggah Penelitian</a>
      <a href="{% url 'covidResearch:Search'%}">Mencari Penelitian</a>
  </div>
  
  <div id="main">
    <button class="openbtn" onclick="openNav()">&#9776;Sidebar</button>
    <div class="container" style="margin-top: 20px;">
      {% block body %}
      {% endblock %}
    </div>
  </div>
  {% endblock %}