{% extends "base_research.html" %}
    {% load tz %}

<!-- News attr : newsId, title, author, date_published, desc, shortDesc, newsImg -->
    {% block title %}
    {{News.title}}
    {% endblock %}

    {% block body %}
    <div class="articles-details">
        <div class="articles-desc">
            <div class="articles-desc title">
                <div style="font-weight: bold;">
                    {{News.title}} 
                </div>
                <div>
                    {% localtime on %}
                    {{News.date_published}}
                    {% endlocaltime %}
                </div>
            </div>
            <div class="articles-desc fill">                
                <div>
                    Penulis : {{News.author}}
                </div>
                <div>
                    Deskripsi :
                    <br>
                    {{News.shortDesc}}
                </div>
            </div>
        </div>
        <div class="articles-img">
            {% if News.image.first %}
                {% for img in News.image.all %}
                <img src='{{img.image.url}}' class="img-fluid img-thumbnail">
                {% endfor%}
            {% endif %}            
        </div>       
    </div>

    {% endblock %}