{% extends "base_research.html" %}
    {% load tz %}
    {% block title%} Penelitian {% endblock%}

    {% block body %}

    <!-- News attr : newsId, title, author, date_published, desc, shortDesc, newsImg -->
    {% if News %}
    {% for New in News%}
    <div class="articles">
        <div class="articles-img">
            <a style="color: inherit;"href= "{% url 'covidResearch:DetailNews' New.pk %}">
                {% if New.image.first %}
                <img src='{{New.image.first.image.url}}' class="img-fluid img-thumbnail"></a>
                {% endif %}            
        </div>
        <div class="articles-desc">
            <div class="articles-desc title">
                <div style="font-weight: bold;">
                    <a style="color: inherit;"href= "{% url 'covidResearch:DetailNews' New.pk %}">{{New.title}}</a>                    
                </div>
                <div>
                    {% localtime on %}
                    {{New.date_published}}
                    {% endlocaltime %}
                </div>
            </div>
            <div class="articles-desc fill">                
                <div>
                    Penulis : {{New.author}}
                </div>
                <div>
                    Deskripsi :
                    <br>
                    {{New.shortDesc}}
                </div>
            </div>
        </div>       
    </div>
    {% endfor%}
    {% endif %}
    
    {% endblock %}