{% extends "base_research.html" %}
    {% block title%} Mencari Penelitian {% endblock%}

    {% block body %}
    <div class="articles" style="flex-direction: column">
        Mencari keywords dalam judul, penulis, dan deksripsi singkat
        <form id="searchForm" method="GET" action="{% url 'covidResearch:Search' %}">
            <input type="text" name="search" placeholder="Mencari Artikel" />
            <button class="btn btn-link btn-lg" type="button" style="background-color: #EB5757; color:white" onclick="searchForm.submit()">Search</button>
        </form>
    </div>

    {% endblock %}
