{% extends "base_research.html" %}
    {% load crispy_forms_tags %}

    {% block body %}
    <div>
        <form action="{% url 'covidResearch:Upload' %}"method="POST" enctype="multipart/form-data"> 
            {% csrf_token %} 
            {{Form|crispy}}
            Gambar/Foto pertama akan dijadikan thumbnail
            <br>
            Max Gambar/Foto = 5
            {{ImageSet|crispy}}
            <br>
            <button type="submit">Upload</button>
        </form>
    </div>

    {% endblock %}

