{% extends "base_template.html" %}{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistik - Your Integrated Statistics Information</title>
    {% block stylesheet%}
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
    crossorigin="anonymous"
  />

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet"> 

  <link
    href="{%static 'css/stylesheet.css'%}"
    rel="stylesheet"
  />
  <script
  src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"
  ></script>
  {%endblock%}
</head>
<body>
    {% block content%}
    <div class="container-fluid d-flex justify-content-center judulDiv">
        <p class="display-2 judul font-weight-bold">Welcome to<br>Statistics</p>

        <div class="shape1">
          <svg viewBox="0 0 284 386" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="91" cy="193" r="193" fill="#FDD262"/>
            </svg>
        </div>

        <div class="shape2">
          <svg viewBox="0 0 429 544" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="272" cy="272" r="272" fill="#EB5757"/>
          </svg>
        </div>

        <div class="shape3">
          <svg viewBox="0 0 441 381" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M220.5 0L440.037 380.25H0.962555L220.5 0Z" fill="#EB5757"/>
          </svg>
        </div>

        <div class="shape4">
          <svg viewBox="0 0 363 458" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M190.537 18.75L570.787 238.287L190.537 457.825L190.537 18.75Z" fill="#0ACF83"/>
          </svg>
        </div>

        <div class="custom-shape-divider-bottom-1605253932">
          <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
              <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
          </svg>
      </div>
        <div class="box">
          <span></span>
          <span></span>
          <span></span>
        </div>
    </div>
    
    <div class="container-fluid d-flex justify-content-center searchDiv">
      <div class="container boxOrange d-flex justify-content-center flex-column">
        <div class="row padding d-flex justify-content-center">
          <p class="display-3 judulPutih font-weight-bold">Statistik Corona<br>Indonesia</p>
        </div>
        <div class="row padding d-flex justify-content-center">
          <p class="subJudulPutih">Masukkan provinsi yang ingin dicari</p>
        </div>
        <div class="row padding d-flex justify-content-center">
          <form method="get" action="{% url 'result'%}">
            {{ form.as_p }}
            <div class="row padding d-flex justify-content-center">
              <button type="submit" class="btn btn-light">Search</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    {%endblock content%}
</body>
</html>