{% extends "base_template.html" %}{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block stylesheet %}
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
    crossorigin="anonymous"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet"> 

    <link href="{%static 'css/stylesheet.css'%}" rel="stylesheet"/>
    {% endblock %}
</head>
<body>
    {%block content %}
        {% for i in response%}
        {% if i.attributes.Provinsi == search %}
        <div class="container-fluid d-flex justify-content-center flex-column resultContainer">
            <p class="judulMerah display-1 font-weight-bold">
                {{i.attributes.Provinsi}}
            </p>
            <br>
            <p class="display-4  d-flex justify-content-center kasus">
                Kasus Aktif : {{i.attributes.Kasus_Posi}} orang
            </p>
            <br>
            <p class="display-4  d-flex justify-content-center kasus">
                Kasus Meninggal : {{i.attributes.Kasus_Meni}} orang
            </p>
            <br>
            <p class="display-4 d-flex justify-content-center kasus">
                Kasus Sembuh : {{i.attributes.Kasus_Semb}} orang
            </p>
        </div>
        {%endif%}
        {%endfor%}
        <div class="custom-shape-divider-bottom-1605457597">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
            </svg>
        </div>
    {% endblock content%}
</body>
</html>