    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        div{
            font-size: 10px;
        }
    
        img{
            width: 35%;
        }
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
        div{
            font-size: 12px;
        }
    
        img{
            width: 35%;
        }
    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        div{
            font-size: 15px;
        }
    
        img{
            width: 35%;
        }
    }

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        div{
            font-size: 20px;
        }
    
        img{
            width: 35%;
        }
    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        div{
            font-size: 25px;
        }
    
        img{
            width: 35%;
        }
    }
    
   