* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

html,
body {
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden;
}

.judul {
  color: #0acf83;
  text-align: center;
}

.judulPutih {
  text-align: center;
  color: #ffffff;
}

.subJudulPutih {
  font-size: 3vh;
  font-weight: lighter;
  color: #ffffff;
}

.judulDiv {
  height: 85vh;
  align-items: center;
}

.searchDiv {
  background-color: #eb5757;
  height: 100vh;
  width: 120vw;
  align-items: center;
}

.custom-shape-divider-bottom-1605253932 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1605253932 svg {
  position: relative;
  display: block;
  width: calc(137% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1605253932 .shape-fill {
  fill: #eb5757;
}

.shape1 {
  position: absolute;
  max-width: 30vh;
  height: auto;
  left: 0vw;
  top: 55vh;
  z-index: -1;
}

.shape2 {
  position: absolute;
  max-width: 40vh;
  height: auto;
  left: 80vw;
  top: 20vh;
  z-index: -2;
}

.shape3 {
  position: absolute;
  max-width: 50vh;
  height: auto;
  left: 0vw;
  top: 30vh;
  z-index: -2;
}

.shape4 {
  position: absolute;
  max-width: 40vh;
  height: auto;
  left: 80vw;
  top: 0vh;
  z-index: -1;
}

.boxOrange {
  background-color: #fdd262;
  height: 80vh;
}
.box {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.box span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 1px solid #313131;
  border-right: 1px solid #313131;
  transform: rotate(45deg);
  animation: animate 2s infinite;
  margin: -1vh;
}

.box span:nth-child(2) {
  animation-delay: -0.2s;
}

.box span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-1vh, -1vh);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(45deg) translate(1vh, 1vh);
  }
}

.judulMerah {
  color: #eb5757;
  font-weight: bold;
}

.resultContainer {
  height: 85vh;
  align-items: center;
}

.custom-shape-divider-bottom-1605457597 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1605457597 svg {
  position: relative;
  display: block;
  width: calc(125% + 1.3px);
  height: 112px;
}

.custom-shape-divider-bottom-1605457597 .shape-fill {
  fill: #FDD262;
}

