{% extends 'base_template.html' %}
{% block content %}
{% load static %} 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> 
<link rel="stylesheet" href="{% static 'css\style.css' %}">
    
  
      <div class="jumbotron bg-transparent" style="margin-top: 150px">
        <div class="container"></div>
          <h1 style= "text-align: center" class="display-4">Assalamualaikum<br>Perkenalkan nama saya 
            Muhammad Ravi
            <br>Selamat datang di aplikasi "Dampak" saya &#128512</h1>
            <br>
            <div class="text-center">
              <a class="btn btn-primary btn-lg" style= "align= center;font-size: 20px" href="tambah/"button">Mulai tambah berita</a>
            </div>
        </div>
    </div>
    {% endblock %}
